body{
    font-family: "Bauhaus 93";
    background-color: crimson;
background-image: url("assets/image/creta2.jpg");
    background-attachment: scroll;
    background-size: initial;
    background-repeat: space;

    }






